body {
  background: #222;
  color: white;
  font-family: sans-serif;
}

#game {
  margin-top: 20px;
}

.row {
  display: flex;
}

.cell {
  width: 20px;
  height: 20px;
  border: 1px solid #555;
  background: black;
}
